<div class="nutrition-graphs">

<p>This is where the graphs will go.</p>

</div>

<div class="direct-to-log">

  <%= link_to 'Add Entry to Log', search_path, method: :get %>
  <%= link_to 'View Log', controller: 'intakes' %>
  <!-- <%= link_to 'Back', user_session_path, method: :get %> -->

</div>
