/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  background-image: image-url('white_wall_hash/white_wall_hash.png');
}

.header {
  /*position: absolute;
  top: 0;*/
  width: 100%;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba( 11, 64, 68,1);
  text-align: center;
}

.header h1 {
  color:rgba(219, 253, 255, 1);
  padding: 0;
  margin: 0;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgba(  0, 27, 29,1);
  text-align: center;
  margin-top: 75px;
  margin-bottom: 0;
  position: fixed;
  bottom: 0px;
  display: table;
}



.footer ul {
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
  display: block;
  margin: 0;
}

.jumbotron {
  font-family: 'Pacifico', cursive;
}

h3 {
  margin-top: 80px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.container {
  min-height: 500px;
}

.dashboard {
  text-align: center;
}

.dashboard-container {
  text-align: center;
  margin-bottom: 150px;
}

.macro-column-today {
  margin: 0;
}

#footer-nav {
  text-align: center;
}

.hidden-field {
  display: none;
}

body.welcome {
  background-image: image-url('desktop_healthy_food.jpg');
}

.sign-in {
  margin-top: 100px;
}

#intake_consumed_item {
  width: 500px;
}

#intake_consumed_qty {
  width: 150px;
}

#intake_logged_time {
  width: 150px;
}

#intake_logged_date {
  width: 150px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

input#q {
  width: 100%;
}

.search-results {
  margin-bottom: 150px;
}

.intake-log {
  margin-bottom: 150px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-in-up {
  color: #337ab7;
}

.show-nutrients {
  margin-bottom: 150px;
}

.edit-user {
  margin-bottom: 150px;
}
