/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

.header {
  /*position: absolute;
  top: 0;*/
  width: 100%;
  height: 150px;
  margin-top: 0;
  background-color: rgba( 11, 64, 68,1);
  text-align: center;
}

.header h1 {
  color:rgba(185,216,219,1);
  padding: 0;
  margin: 0;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: rgba(  0, 27, 29,1);
  text-align: center;
}

.footer p {
  color: white;
}

.container {
  min-height: 500px;
}

.dashboard {
  text-align: center;
}

.dashboard-container {
  text-align: center;
}

.macro-column-today {
  margin: 0;
}

#footer-nav {
  text-align: center;
}

.hidden-field {
  display: none;
}

body.welcome {
  background-image: image-url('desktop_healthy_food.jpg');
}
